<html>
<head>
	<style>
		<!--
		* {margin:0;padding:0;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
		h1 {margin:10px 0;font-size:26px;line-height:34px;color: #0072bc;font-weight:bold;}
		h2 {margin:0 0 20px;font-size:20px;line-height:30px;color: #fa7321;font-weight:bold;}
		h3 {margin:0 0 20px;font-size:20px;line-height:26px;color: #74c043;font-weight:bold;}
		p {margin:15px 0;line-height:26px;}
		ul {margin:20px 0 20px 40px;list-style:disc;list-style-position:inside;}
		-->
	</style>
	</head>
</head>
	<body>
		<table border="0" cellpadding="0" cellspacing="0" width="100%" align="cetner" style="margin: 0 auto;padding:0;background-color:#FFFFFF;max-width:600px;">
			<tbody style="color: #333;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 15px;border-collapse: collapse;">
				<tr>
					<td valign="top" style="padding:20px 20px 10px;">
						<h1>{{ entity.title.value }}</h1>
            <h2>{{ entity.news_date.value|date('F j, Y') }}</h2>
						{{ entity.body.value|raw }}
            {% set  url = path('entity.node.canonical', {'node': entity.id}) %}
						<p style="margin:40px 0;"><a href="{{ url }}" style="color:#0072bc;padding: 19px 24px;line-height: 1.2em;text-decoration: none;text-transform: uppercase;border: 1px solid #c4c4c4;-webkit-border-radius: 32px;-moz-border-radius: 32px;border-radius: 32px;padding-top: 12px;padding-bottom: 12px;text-decoration:none;">Read</a></p>
					</td>
        </tr>
			</tbody>
		</table>
	</body>
</html>